body {
  padding-top: 2.5rem;
}

.blog-header, .blog-post, .blog-pagination, .jumbo {
  margin-bottom: 2rem;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}

.projectsandroid-puzzles img {
  max-width: 20%;
}

@media (max-width: 1000px) {
  .pagination {
    flex-wrap: wrap;
  }
}

.jumbo {
  margin-top: -1rem;
}

.jumbo .container {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.intro {
  margin-left: 1rem;
}
@media (max-width: 350px) {
  .jumbo .container {
    flex-direction: column;
  }
  .intro {
    margin-left: 0;
  }
}


.badge {
  font-size: .85em;
  margin: 0.35em 0.15em 0.25em;
}

.blog-post header, .blog-main header {
  margin-bottom: 0.5rem;
}

.blog-post-date, .blog-post-tags {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

blockquote {
  border-left: 5px solid #aaddee;
  padding-left: 1rem;
}

aside section {
  padding-bottom: 2rem;
}
aside section ol {
  margin-bottom: 0;
}

#socials a {
  text-decoration: none;
}

.highlight pre {
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
}
