<header class="blog-header d-print-none">
    <nav class="mynavbar fixed-top navbar-expand-md navbar-light" id="topnav">
        <div class="container">
          <div class="row">
            <input type="checkbox" id="navbar-togglebox" class="d-none"/>
            <div class="col-md-8 mynavbar-main">
                <ul class="navbar-nav">
                    <li class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
                        {{- partial "brand" . -}}
                    </li>
                    {{ $url := .RelPermalink | relLangURL -}}
                    {{- range .Site.Menus.main -}}
                    <li class="nav-item">
                        {{- if eq (hasPrefix .URL "mailto:") true -}}
                            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                        {{- else -}}
                            {{- $menuUrl := .URL | relLangURL -}}
                            {{- $active := cond (eq $menuUrl "/") (or (eq $url "/") (hasPrefix $url "/blog/")) (hasPrefix $url $menuUrl) -}}
                            <a class="nav-link {{ if $active }}active{{end}}" href="{{ $menuUrl }}">{{ .Name }}</a>
                        {{- end -}}
                    </li>
                    {{ end }}
                </ul>
                <label for="navbar-togglebox" id="navbar-togglebtn" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-label="Toggle search box">
                    <i class="icon-search toggle-on"></i>
                    <i class="icon-chevron-up toggle-off"></i>
                </label>
            </div>
            <div class="col-md-3 collapse navbar-collapse" id="navbarSearch">
                {{ partial "searchbox" }}
                {{ if gt (len .Site.Home.AllTranslations) 1 }}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ i18n "language" }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {{ range .Site.Home.AllTranslations }}
                                <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                </ul>
                {{ end }}
            </div>
          </div>
        </div>
    </nav>
</header>
